// Use border-box for all elements
*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

// Set body styles
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font-size-body;
	font-family: $font-family-body;
	line-height: $line-height-body;
	color: $color-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: $background-color-body;
}