button,
.button {
	display: inline-block;
	border: 0;
	background-color: $color-primary;
	color: $color-white;
	font-size: 1rem;

	&:hover {
		text-decoration: none;
		background-color: darken($color-primary, 10%);
	}
}