$icon-hamburger-top: 15px;
$icon-hamburger-right: 5px;
$icon-hamburger-size: 36px;
$icon-hamburger-padding: 8px;
$icon-hamburger-lines: 3px;
$icon-hamburger-line-space: 6px;
$icon-hamburger-line-color: #000;
$icon-hamburger-bg-default: #f3efe6;
$icon-hamburger-bg-hover: #f3efe6;
$icon-hamburger-bg-active: #f3efe6;

.icon-hamburger {
	top: $icon-hamburger-top;
	right: $icon-hamburger-right;
	display: block;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: $icon-hamburger-size;
	height: $icon-hamburger-size;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
	background-color: $icon-hamburger-bg-default;

	&:hover {
		background-color: $icon-hamburger-bg-hover;
	}

	&:focus {
		outline: none;	
	}

	span {
		display: block;
		position: absolute;
		top: $icon-hamburger-size/2 - $icon-hamburger-lines/2;
		left: $icon-hamburger-padding;
		right: $icon-hamburger-padding;
		height: $icon-hamburger-lines;
		background: $icon-hamburger-line-color;
		transition: background 0.3s;
		transition-delay: .3s;

		&::before,
		&::after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: $icon-hamburger-lines;
			background-color: $icon-hamburger-line-color;
			content: "";
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0s;
		}

		&::before {
			top: -$icon-hamburger-line-space;
			transition-property: top, transform;
		}
		&::after {
			bottom: -$icon-hamburger-line-space;
			transition-property: bottom, transform;
		}
	}
}

.mobile-menu-active {
	.icon-hamburger {
		background-color: $icon-hamburger-bg-active;

		span {
			background: rgba(255,255,255,0);
			transition-delay: 0s;

			&::before {
				top: 0;
  				transform: rotate(45deg);
  				transition-delay: 0s, 0.3s;
			}
			
			&::after {
				bottom: 0;
  				transform: rotate(-45deg);
  				transition-delay: 0s, 0.3s;
			}
		}
	}
}