%headline {
	font-family: $font-family-headline;
	line-height: 1.1em;
	margin-top: $spacing*2;
	margin-bottom: $spacing;
}

h1 {
	@extend %headline;
	font-size: 2.4rem;
}
h2 {
	@extend %headline;
	font-size: 2rem;
}
h3 {
	@extend %headline;
	font-size: 1.6rem;
}

h4 {
	@extend %headline;
	font-size: 1.4rem;

}
h5 {
	@extend %headline;
	font-size: 1.2rem;
}
h6 {
	@extend %headline;
	font-size: 1rem;
}