ol,
ul {
    padding-left: 30px;
    margin: 0 0 $spacing;

    li {
        margin: $spacing/2 0;
    }
}

%list-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Definition List
dl {
    dl {
        margin: $spacing/2 0 0;
    }
}

dt {
    margin-top: $spacing/2;

    &:first-child {
        margin-top: 0;
    }
}

dd {
    margin-left: $spacing;
}