// Utilities
.center {
    margin-left: auto;
    margin-right: auto;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.clear {
    width: 100%;
    clear: both;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

// Objects
%fullsize{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}