.comments-area {
	background-color: $color-bg-comments;
	padding: $spacing*2 $spacing;
	text-align: center;

	.comments-wrap {
		max-width: 600px;
		margin:0 auto;

		.comments-title {
			color: $color-font-darkergray;
			font-size: 1.750rem;
			text-transform: uppercase;

			b {
				font-weight: normal;
				font-family: $font-amadeus-bold;
			}
		}

		.comment-list {
			text-align: left;

			li {
				list-style-type: none;
				border-top: 1px solid $color-font-lightgray;
				padding: $spacing $spacing/2 0;

				@include media(">600px") {
					padding: $spacing $spacing 0;
				}

				margin-top: $spacing;

				.comment-author {
					display: inline-block;

					.fn {
						font-style: normal;
						font-family: $font-amadeus-bold;
						text-transform: uppercase;
						margin-right: 20px;
						color: $color-font-anthracite;

						a {
							color: $color-font-anthracite;
						}
					}

					.says {
						display: none;
					}

					.avatar.photo {
						display: none;
					}
				}

				.comment-meta {
					display: inline-block;
					a {
						color: $color-font-darkgray;
						font-size: .8rem;
					}
				}

				.comment-reply-link {
					font-style: normal;
					font-family: $font-amadeus-bold;
					text-transform: uppercase;
					font-size: .8rem;
					color: $color-font-darkgray;
				}

				.comment-body {
					color: $color-font-darkgray;
				}
			}

			.children {
				margin: 0;
				padding-left: 0;
			}
		}

		.comment-respond {
			.comment-reply-title {
				color: $color-font-anthracite;
				border-bottom: 1px solid lighten( $color-font-gray, 10% );
				margin-bottom: 1em;
				padding-bottom: 0.25em;
			}

			label {
				text-transform: uppercase;
				font-size: .8rem;
				display: block;
				text-align: left;
				margin-bottom: 0.333em;
			}

			textarea,
			input[type="text"] {
				width: 100%;
				border: 1px solid $color-font-lightgray;
				font-size: 1rem;
				padding: 5px;
				border-radius: 4px;
			}
		}
	}

	.form-submit {
		@extend .clearfix;

		.submit {
			float: right;
		}
	}
}

@include media(">tablet-small") {
	.comments-area {
		.comments-wrap {
			.comments-title {
				font-size: 2.125rem;
			}
		}
	}
}