.wpcf7-form {
	.fieldgroup {
		margin: 10px -10px;
		display: flex;

		.field,
		.field-3 {
			flex: 1;
			padding: 0 10px;
		}

		.field-3 {
			flex: 3;
		}
	}

	[type="text"],
	[type="number"],
	[type="tel"],
	[type="password"],
	[type="email"],
	select,
	textarea{
		border: 1px solid $color-light-grey;
		padding: 5px 0 5px 10px;
		font-size: $font-size-base;
		display: block;
		width: 100%;
		max-width: 100%;
	}

	.wpcf7-not-valid {
		border: 1px solid #f00;
	}

	.row {
		@include row();
		margin: 0 -10px;
	}

	.col {
		@include media("<tablet-small") {
			@include col(1);		
		}

		@include media(">=tablet-small") {
			@include col(1/2);		
		}
	}

	.wpcf7-response-output {
		clear: both;
		margin: 10px 0;
		border: 0;
		font-size: $font-size-base;
		padding: $padding-base/2;
	}

	.wpcf7-validation-errors {
		background: $color-error;
		color: $color-white;
	}

	.wpcf7-mail-sent-ok {
		background: $color-primary;
		color: $color-white;
	}

	.wpcf7-recaptcha {
		> div {
			> div {
				float: right;
			}

			&:after {
				clear: both;
				content: '';
				display: table;
			}
		}
	}
}