.footer-global {
	background: $color-general-darkgray;
	font-family: $font-base-footer;

	.addresses {
		@extend .clearfix;
		max-width: $max-width-module;
	}

	address {
		display: block;
		font-style: normal;
		color: $color-font-lightgray;
		padding: $spacing*0.5 $spacing*1.85;

		h3 {
			@extend %headline;
			font-family: $font-amadeus-bold;
			font-size: 1.125rem;
			line-height: 1.5em;
			letter-spacing: 1px;
			color: $color-font-lightgray;
			margin-bottom: 0.75em;
		}

		p {
			line-height: 1.5em;
			min-height: 70px;
		}

		&:first-of-type {
			margin-top: $spacing*4.5;
		}
		&:last-of-type {
			margin-bottom: $spacing*4.5;
		}

		.social-media {
			@extend %list-reset;

			margin-top: $spacing*1.1;

			li {
				display: inline-block;
				margin-right: $spacing*0.5;

				&:last-of-type {
					margin-right: 0;
				}
			}

			a {
				background: $color-font-gray;
				color: $color-general-darkgray;
				text-decoration: none;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 2em;
				height: 2em;
				font-size: 0.750rem;
				transition: all 0.3s;

				&:hover {
					background: $color-white;
				}
			}
		}
	}

	nav {
		text-align: center;

		ul {
			@extend %list-reset;
			max-width: $max-width-module;
			margin: 0 auto;
			padding: $spacing $spacing $spacing*2 $spacing;
			border-top: 1px solid $color-font-gray;
		}

		li {
			display: inline-block;
			padding: 0 1em;
		}

		a {
			color: $color-font-gray;
			font-size: 0.875rem;
		}
	}
}

@include media(">=tablet-small") {
	.footer-global{
		text-align: center;

		.addresses {
			margin: $spacing*2 auto;
		}

		address {
			display: block;
			width: 50%;
			float: left;
			text-align: left;

			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

@include media(">=mobile-menu") {
	.footer-global{
		address {
			padding: $spacing*0.5 $spacing $spacing*0.5 0;
			width: 25%;
		}
	}
}