.header-global {
	overflow: visible;
	position: absolute;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;

	.logo {
		margin: 25px 20px 15px;
		display: inline-block;

		img {
			width: 140px;
			height: auto;
			display: block;
		}
	}

	a {
		color: $color-white;
		cursor: pointer;
	}

	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	nav.controls {
		position: absolute;
		right: 0px;
		top: 0px;

		a {
			font-size: 1.250rem;
		}

		.search-toggle {
			text-decoration: none;
		}
	}

	.menu {
		padding-left: 0;
		margin: 0;

		li {
			margin: 0;
			list-style-type: none;
			padding: 0;

			a {
				display: inline-block;
				padding: 15px 20px;
				color: $color-text;
				position: relative;

				&:hover,
				&:focus {
					text-decoration: none;
				}
			}

			&.current_page_item {
				> a {
					color: $color-primary;
					font-weight: bold;
				}
			}

			&.current-page-ancestor,
			&.current-menu-item {
				a {
					color:$color-primary;
				}
			}

			.children {
				margin: 0;
				padding: 0;
				display: none;

				a {
					font-weight: 500;
				}
			}
		}

		.toggle {
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			width: 40px;
			height: 100%;
			background: url(media/icons/arrow.png) no-repeat center center;
			transition: all .2s ease-out;
		}

		.active {
			.toggle {
				transform: rotate(180deg);

			}
		}
	}

	.stage {
		overflow: auto;

		> h1 {
			font-family: $font-amadeus-regular;
			font-size: 2rem;
			font-weight: 100;
			text-align: center;
			margin: $spacing*0.25 0 $spacing*3.5 0;
		}
	}
}

//Mobile Search Layer
.search-layer {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: red;
	display: none;
	background: $color-gradient-lightblue;
	background: linear-gradient(to bottom, $color-gradient-lightblue 0%, $color-gradient-blue 100%); 
	overflow: auto;

	a {
		color: $color-white;
		cursor: pointer;
	}

	.search-row {
		display: block;
		padding: 0 $spacing*3 0 $spacing;
		width: 100%;
		margin-top: $spacing;
	}

	.form-row {
		border-bottom: 1px solid $color-white;
		padding: 0 0 1px 0;
		position: relative;

		input {
			border: 0;
			background-color: rgba($color-white, 0.8);
			line-height: 28px;
			height: 28px;
			width: 100%;
			padding: 0 $spacing*0.5+28px 0 $spacing*0.5;
		}

		.search {
			display: inline-block;
			background: $color-font-blue;
			font-size: 1.125rem;
			line-height: 27px;
			width: 28px;
			height: 28px;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			border: 0;
			color: $color-white;
			padding: 0;
			cursor: pointer;
		}
	}

	.close {
		position: absolute;
		right: $spacing;
		top: $spacing;
		font-size: 1.500rem;
	}
}

//Mobile Navigation Layer
.nav-layer {
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: red;
	display: none;
	background: $color-gradient-lightblue;
	background: linear-gradient(to bottom, $color-gradient-lightblue 0%, $color-gradient-blue 100%); 
	overflow: auto;

	a {
		color: $color-white;
		cursor: pointer;
		font-family: $font-amadeus-regular;
	}

	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	.close {
		position: absolute;
		right: $spacing;
		top: $spacing;
		font-size: 1.500rem;
	}

	.community-login {
		text-transform: uppercase;
		display: inline-block;
		border: 1px solid $color-white;
		padding: $spacing*0.5 $spacing*1.5;
		margin: $spacing 0 $spacing*2 $spacing;
	}

	.primary-menu {
		li {
			margin: 0 $spacing;
			position: relative;
		}

		a {
			font-family: $font-amadeus-bold;
			text-transform: uppercase;
			display: inline-block;
			padding: $spacing*0.5 0;
		}

		.toggle {
			display: inline-block;
			color: $color-white;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			padding: 8px;
			transition: transform 0.3s ease-out;
		}

		.is-open > .toggle {
			transform: rotate(-180deg);
		}

		.sub-menu {
			display: none;
			background: $color-white;
			margin: 0 (-$spacing);
			padding: 0 0 0 $spacing;

			a {
				color: $color-font-blue;
			}

			.toggle {
				color: $color-font-lightblue;
			}
		}
	}
	.footer-menu-clone {
		margin: $spacing*2 $spacing $spacing;
		border-top: 1px solid $color-white;

		li {
			display: inline-block;
			padding: $spacing $spacing 0 0;

			a {
				display: inline-block;
				font-size: 0.875rem;
			}
		}
	}
}

//Mobile Menu
@include media("<=mobile-menu") {
	.header-global {
		nav.controls {
			position: absolute;
			right: $spacing;
			top: $spacing;
		}

		.community-login,
		.contact {
			display: none;
		}

		.search-menu {
			display: none;
		}

		.menu-toggle {
			margin-left: $spacing*0.5;
			display: inline-block;
		}

		.header-menu {
			display: none;
		}
	}
}

//Desktop Menu
@include media(">mobile-menu") {
	.header-global {
		.inner {
			border: 1px solid transparent;
			max-width: $max-width-content;
			margin: 0 auto;
			overflow: visible;
			min-height: 115px;
		}

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		nav.controls {
			font-family: $font-amadeus-bold;
			text-transform: uppercase;

			a {
				display: inline-block;
				margin-left: $spacing;
				font-size: 0.813rem;
			}

			.search-menu {
				display: inline-block;

				.form-row {
					border-bottom: 1px solid $color-white;
					padding: 0 0 1px 0;
					position: relative;

					input {
						border: 0;
						background-color: rgba($color-white, 0.8);
						line-height: 28px;
						height: 28px;
						width: 270px;
						padding: 0;
						max-width: 0;
						opacity: 0;
						transition: all 0.5s;
					}

					.search {
						display: inline-block;
						background: rgba($color-font-blue, 0);
						line-height: 27px;
						width: 28px;
						height: 28px;
						text-align: center;
						position: absolute;
						top: 0;
						right: 0;
						border: 0;
						color: $color-white;
						padding: 0;
						cursor: pointer;
						transition: all 0.5s;
					}
				}

				&.active {
					.form-row {
						input {
							max-width: 300px;
							opacity: 1;
							padding: 0 $spacing*0.5 0 $spacing*0.5;
						}

						.search {
							background: rgba($color-font-blue, 1);
						}
					}
				}
			}

			.search-toggle {
				display: none;
			}

			.menu-toggle {
				display: none;
			}

			.contact {
				margin-left: $spacing*0.75;
			}

			.community-login {
				background: $color-general-blue;
				padding: 10px 25px;	
			}
		}

		.logo {
			margin: $spacing*3.5 $spacing $spacing*0.75;
			position: absolute;

			img {
				width: 150px;
			}
		}

		.header-menu {
			margin: 73px 0 $spacing $spacing*11;

			li {
				display: inline-block;
			}

			> li {
				margin: 0;
				float: left;
			}
			.current-menu-ancestor,
			.current-menu-item{
				text-decoration: underline;
			}
			a {
				font-family: $font-amadeus-bold;
				font-size: 0.813rem;
				letter-spacing: 1.62px;
				text-transform: uppercase;
				padding: $spacing*0.25 $spacing*0.75 $spacing;
			}

			.sub-menu {
				display: none;
			}
			
			> .is-active.menu-item-has-children {
				> a {
					position: relative;

					&::after {
						content: '';
						display: block;
						width: 30px;
						height: 30px;
						border-width: 0 15px 15px;
						border-style: solid;
						border-color: #1CAADE transparent;
						position: absolute;
						left: 50%;
						margin-left: (-$spacing)*0.75;
						bottom: -1px;
					}
				}

				//Level: 1
				> .sub-menu {
					display: block;
					background: $color-gradient-lightblue;
					background: linear-gradient(to bottom, #1CAADE 0%,$color-gradient-blue 100%); 
					position: absolute;
					padding: $spacing*1.5 $spacing*3;
					left: 0;
					width: 100%;
					margin-top: $spacing*0.75;
					box-shadow: 0 10px 20px rgba(0,0,0,.3);

					> li {
						display: block;
						margin: $spacing*.5 0;
						padding: $spacing*.5 0;
						text-align: center;
				
						> a {
							font-size: 26px;
							margin-right: $spacing*1.5;
							display: inline-block;
						}

						//Level: 2+
						.sub-menu {
							display: block;
							font-size: 18px;

							li {
								margin-right: 0px;
								margin-bottom: $spacing;
								margin-left: 0;

								a {
									padding-right: 0;
								}

								a:before {
									content: '/';
									display: inline-block;
									margin-right: $spacing;

									font-family: $font-amadeus-regular;
									opacity: .5;
								}

								&:first-child {
									a::before {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}

		.stage {
			h1 {
				font-size: 3.125rem;
				line-height: 1em;
				margin: $spacing*2 0 $spacing*6.5 0;
			}
		}
	}
}
//Admin Bar
.admin-bar{
	.header-global {
		@include media("<=782px") {
			top: 46px;
		}
		@include media(">782px") {
			top: 32px;
		}
	}
}