.lg-actions {
	/*.lg-next,
	.lg-prev {
		width: 70px;
		height: 100px;
	    border-radius: 0;
	    margin-top: -50px;
	    padding: 0;
	    position: absolute;
	    top: 50%;
	    z-index: 1080;
	    background: url("media/icons/arrow-r.png") no-repeat center center;

	    &:before,
	    &:after{
	    	display: none;
	    	content: '';
	    }
	}

	.lg-prev{
		transform: rotate(180deg);
	}*/
}

.lg-on {
	#wpadminbar {
		display: none;
	}
}