.tpl-styleguide {
	main {
		background: $color-white;
	}

	section {
		max-width: 44rem;
	}

	article {
		margin: $spacing 0;
		padding: $spacing $spacing*2;
	}

	.colors {
		list-style-type: none;
		padding: 0;

		> li {
			display: inline-block;
			margin-right: $spacing;
		}

		.color {
			border-radius: 50%;
			width: 75px;
			height: 75px;
		}

		.caption {
			margin-top: 2em;
		}
	}

	.color-general-blue {
		background-color: #005EB8;
	}
	.color-general-deepskyblue {
		background-color: #00A9E0;
	}
	.color-general-lightgray {
		background-color: #EEEEEE;
	}
	.color-general-darkgray {
		background-color: #333333;
	}
	.color-general-deeppink {
		background-color: #CE0058;
	}

	.color-font-blue {
		background-color: #005EB8;
	}
	.color-font-lightblue {
		background-color: #B4DBFF;
	}
	.color-font-lightgray {
		background-color: #EEEEEE;
	}
	.color-font-gray {
		background-color: #999999;
	}
	.color-font-darkgray {
		background-color: #4A4A4A;
	}
	.color-font-anthracite {
		background-color: #3C3C3C;
	}

	.buttons {
		max-width: 54rem;

		article:not([class]) {
			padding: 0;
		}

		article[class] {
			max-width: 44rem;
		}

		div {
			display: inline-block;
			padding: $spacing $spacing*2;
		}
	}
}