// Base Colors
$color-white:			#FFFFFF;
$color-black:			#000000;
$color-gray:			#E4DFDF;

// Custom Colors
$color-cerulean:		#009de1;
$color-guardsmen-red:	#cc0000;

// Colors Shorthands
$color-primary: 		$color-cerulean;
$color-body: 			$color-black;
$color-link:			$color-primary;
$color-error:			$color-guardsmen-red;
$background-color-body: $color-white;