// Import
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Lato|Oswald|Roboto|Rubik|Vollkorn|Ubuntu+Mono');

// Base Fonts
$font-family-rubik: 	'Rubik', sans-serif;
$font-family-roboto:	'Roboto', sans-serif;

// Font Shorthands
$font-family-headline: 	$font-family-rubik;
$font-family-body:  	$font-family-roboto;

// Define body styles
$font-size-body: 16px;
$line-height-body: 1.5rem;