.wrap {
	padding: $spacing*2 $spacing;
	max-width: $max-width-main;
	margin:0 auto $spacing*2;
}

.max {
	padding: 0 $spacing;
	max-width:$max-width-content;
	margin:0 auto;
}

.intro {
	margin: 1rem 0;
}

blockquote {
	margin: $spacing 0 $spacing 0;
}

.screen-reader-text {
	display: none;
}

.video-gallery {
	img{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

aside {
	padding-top: $spacing*1.5;

	.sidebar-sticky {
		overflow: auto;
	}
}

.sidebar-enabled{
	max-width: $max-width-content;

	> section {
		max-width: $max-width-main;

		> :first-child{
			margin-top: 0;
		}
	}
	> aside {
		max-width: $max-width-sidebar;

		> div:first-child > h4 {
			margin-top: 0;
		}
	}
}

.wrap {
	iframe {
		width: 100%;
		height: 600px;
	}
}

@include media(">tablet") {
	.text,
	.intro,
	.shariff {
		padding-left: 100px;
	}

	aside {
		padding-top: 0;
	}
}

@include media(">mobile-menu") {
	.sidebar-enabled {
		display:flex;

		> section {
			flex:3;
			padding-right:$spacing*1.5;
		}

		> aside {
			flex: 1;
			margin-left: auto;
		}
	}
}